.enuo-grid {
    .table {
        margin-bottom: 0;
        tbody {
            display: block;
            overflow-y: scroll;
        }
        thead,
        tr {
            display: table;
            width: 100%;
            table-layout: fixed;
        }
        thead {
            width: calc( 100% - 1em)
        }
        td,
        th {
            border-left: none;
            border-top: none;
        }
        td.check,
        th.check {
            width: 30px;
        }
    }
    .box-tool,
    .box-footer {
        padding: 2px;
        min-height: 38px;
        border: 1px solid #ddd;
        background: linear-gradient(to bottom, #f8f8f8 0%, #efefef 100%);
    }
    .box-tool {
        border-bottom: none;
    }
    .box-footer {
        border-top: none;
    }
    .box-footer {
        .paging {
            height: 34px;
            .pagination {
                margin: 0;
            }
        }
    }
}